In [1]:
# My usual setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas 
from datetime import datetime
import seaborn as sns
import glob
from os.path import basename
sns.set_context('poster')

In [22]:
df = pandas.read_csv('../data/KATRINA-2005.csv', skiprows=1,usecols=[0,1,6], names=['date','time','mph'])

In [23]:
df.head()

       date  time  mph
0  20050823  1800   30
1  20050824     0   30
2  20050824   600   30
3  20050824  1200   35
4  20050824  1800   40

In [30]:
df['datetime'] = pandas.to_datetime(df.apply(lambda x: str(x['date']) + str(x['time']), axis=1), format="%Y%m%d%H%M")

In [33]:
df.datetime.head()

0   2005-08-23 18:00:00
1   2005-08-02 04:00:00
2   2005-08-24 06:00:00
3   2005-08-24 12:00:00
4   2005-08-24 18:00:00
Name: datetime, dtype: datetime64[ns]

In [34]:
df.to_csv("../data/KATRINA-2005-dateformatted.csv")